<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <th:block th:replace="~{/fragments/header.html :: header}"></th:block>

    <style>
        #path_image_preview{
            width: 160px;
            height: 180px;
            margin: auto;
        }
    </style>
</head>
<body>
<th:block th:replace="~{/fragments/navbar.html :: navbar}"></th:block>
<div class="container d-flex justify-content-center align-content-center mt-5">
    <form th:action="@{/admin/path/create}" th:method="POST" th:object="${newPath}" enctype="multipart/form-data">
        <h4>Create New Path</h4>
        <p class="text-center">
            <img id="path_image_preview"/>
        </p>
        <p>
            <input type="file" name="pathImage" id="pathImage" placeholder="Select Badge Icon Image" accept="png,jpg,jpeg"/>
        </p>
        <p>
            <label for="pathTitle" class="w-100">
                Path Title
                <input type="text" class="form-control" placeholder="Path Title" id="pathTitle" name="pathTitle" th:field="*{title}">
            </label>
        </p>
        <p>
            <label for="pathDescription" class="w-100">
                Path Description
                <textarea type="text" class="form-control" placeholder="Path Description" id="pathDescription" name="pathDescription"
                          th:field="*{description}" cols="auto" rows="7"></textarea>
            </label>

        </p>
        <p>
        <div class="row">
            <div class="col text-center">
                <a href="/">
                    <button type="button">Cancel</button>
                </a>
            </div>
            <div class="col text-center">
                <button>Save</button>
            </div>
        </div>
        </p>
    </form>
</div>
<script>
    const path_image_preview = document.getElementById('path_image_preview')
    const path_image_file = document.getElementById('pathImage')

    path_image_file.onchange = e => {
        const previewReader = new FileReader()
        previewReader.onload = res => {
            console.log(res)
            path_image_preview.src = res.currentTarget.result
        }
        previewReader.readAsDataURL(e.target.files[0])

        const blobReader = new FileReader()
        blobReader.onload = res => {
            console.log(res.currentTarget.result)
        }
        blobReader.readAsArrayBuffer(e.target.files[0])

    }


</script>
<th:block th:replace="~{/fragments/footer.html :: footer}"></th:block>
</body>
</html>