<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
  <th:block th:fragment="main_chat">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <div id="main-chat">
      <input type="hidden" id="userid" th:value="${userid}"/>
      <th:block th:replace="~{/fragments/header.html :: header}"/>
      <div id="incoming_messages"></div>
      <div class="chat_controls">
        <div>
          <textarea id="message" placeholder="Say something cool." required></textarea>
        </div>
        <div>
          <button id="send" type="submit">Send</button>
        </div>
      </div>
    </div>
    <i id="chat_icon" class="bi bi-chat-right-dots"></i>
    <script src="/js/chat.js" type="module" defer></script>
  </th:block>
</html>
