<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<th:block th:fragment="navbar">
    <nav class="navbar bg-body-tertiary sticky-top fixed">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img height="80px" src="/img/logo.gif">
            </a>
            <div class="dropdown ms-auto me-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Menu
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{admin/index}">
                            <i class="bi bi-diagram-3-fill"></i><button type="button" class="btn w-100">Create Paths</button>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" sec:authorize="hasRole('ROLE_CLIENT')" th:href="@{/profile/{uname}(uname=${#authentication.name})}">
                            <i class="bi bi-person-fill"></i><button type="button" class="btn w-100">Profile</button>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" sec:authorize="hasRole('ROLE_CLIENT') || hasRole('ROLE_ADMIN')" th:href="@{/user/friend_requests}">
                            <i class="bi bi-people-fill"></i><button type="button" class="btn w-100">Buddies</button>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" sec:authorize="hasRole('ROLE_CLIENT')" th:href="@{/allPaths}">
                            <i class="bi bi-diagram-3-fill"></i><button type="button" class="btn w-100">Paths</button>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" sec:authorize="hasRole('ROLE_CLIENT')" th:href="@{/user/goals}">
                            <i class="bi bi-list-task"></i><button type="button" class="btn w-100">Goals</button>
                        </a>
                    </li>
                </ul>
            </div>
            <div sec:authorize="isAuthenticated">
                <form th:action="@{logout}" method="post" class="logout-button-form">
                    <button class="btn btn-primary" type="submit">LOGOUT</button>
                </form>
            </div>
        </div>
    </nav>
</th:block>

</html>

