<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paths</title>
  <th:block th:replace="~{fragments/header.html :: header}"></th:block>

</head>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <img src="/img/hex.png">
    </div>
  </div>
</div>
<body>

</body>
</html>