<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>All Paths</title>
  <th:block th:replace="~{/fragments/header.html :: header}"></th:block>
</head>
<body>
<th:block th:replace="~{/fragments/navbar.html :: navbar}"></th:block>
<div class="container">
  <div th:each="path : ${paths}" id="achv1" class="col-2 achv_badge_holder">
    <div class="achv_badge_3">
      <div class="achv_badge_2">
        <a th:href="@{/paths/{id} (id=${path.id})}">
          <img th:src="'data:image/jpeg;base64,'+${path.getImageDataUrl()}" alt="Achievement Badge" width="128px" height="128px" class="achv_badge">
        </a>
      </div>
    </div>
  </div>
</div>
<th:block th:replace="~{/fragments/footer.html :: footer}"></th:block>
</body>
</html>