<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Panel</title>
    <th:block th:replace="~{fragments/header.html :: header}"></th:block>
    <style>
        .hexBg {
            background-image: url("/img/hex.png");
        }

        .blueToYellow {
            color: white;
            background-color: #3c5aa6;
            transition: .5s;
        }
        .blueToYellow:hover {
            color: #3c5aa6;
            background-color: #ffcb05;
        }
    </style>
    <!--  <link href="/css/main.css" rel="stylesheet">-->
</head>

<body>

<!-- Navbar -->
<th:block th:replace="~{fragments/navbar.html :: navbar}"></th:block>

<div class="container p-4 my-5 rounded bg-light" >
    <div class="navbar bg-body-tertiary">
        <span class="h2 me-auto ms-3"><i class="bi bi-person-badge me-3"></i>Manage Goals</span>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#createGoalModal">
            <i class="bi bi-plus-square"></i>&nbsp;&nbsp;
            Create Goal
        </button>
    </div>

    <ul class="list-group mt-3" style="clear: both;">
        <li class="list-group-item" th:each="item : ${goals}">
            <div class="row p-3 d-flex justify-content-between align-items-center">
                <span class="col-sm-2 col-xs-12 p-0"><strong th:text="${item.title}"></strong></span>
                <span class="col-sm-6 col-xs-12 p-0"><em th:text="${item.description}"></em></span>
                <span class="col-sm-2 col-xs-12 p-0"><th:block th:text="${item.completed} ? 'COMPLETE' : 'PENDING'"></th:block></span>
                <div class="col-md-2 col-sm-12 d-flex justify-content-between align-items-center mt-2 p-0">
                    <form th:action="@{/users/goals/delete/{id}(id=${item.id})}" method="post">
                        <button type="submit" class="btn btn-danger m-1">
                            <i class="bi bi-trash3-fill deleteBtn" th:item="${item.getId()}"></i>
                        </button>
                    </form>
                    <i class="bi bi-pencil-fill editBtn btn btn-warning m-1" th:title="${item.title}" th:description="${item.description}" th:completed="${item.completed}" th:id="${item.id}" th:item="${item.getId()}"></i>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- Create Goal Modal -->
<div class="modal fade" id="createGoalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/users/goals/add}" method="post" th:object="${goal}">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create a Goal</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!--Goal Title-->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="titleLabel">Goal Title</span>
                        <input th:field="*{title}" type="text" class="form-control" aria-label="Path Title" id="title" placeholder="Goal Title" aria-describedby="titleLabel">
                    </div>

                    <!--Goal Description-->
                    <div class="input-group">
                        <span class="input-group-text">Description</span>
                        <textarea th:field="*{description}" class="form-control" aria-label="Path description" placeholder="Goal Description" id="createDescription"></textarea>
                    </div>

                    <!--Goal Complete Switch-->
                    <h4 class="d-flex justify-content-center">Has this goal been met?</h4>
                    <div class="d-flex justify-content-center mt-3">
                        <div class="form-check form-switch">
                            <input th:checked="${goal.completed}"  class="form-check-input" type="checkbox" role="switch" name="goalCompleted" id="crateCompleteSwitch">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Edit Goal Modal -->
<div class="modal fade" id="editGoalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/users/goals/update}" method="post" th:object="${goal}">
            <input id="editId" type="hidden" th:value="${goal.id}" th:field="*{id}">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editGoalLabel">Create a Goal</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!--Goal Title-->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="editGoalTitleLabel">Goal Title</span>
                        <input th:field="*{title}" type="text" class="form-control" aria-label="Goal Title" id="editTitle" placeholder="Goal Title" aria-describedby="titleLabel">
                    </div>

                    <!--Goal Description-->
                    <div class="input-group">
                        <span class="input-group-text">Description</span>
                        <textarea th:field="*{description}" class="form-control" aria-label="Goal description" placeholder="Goal Description" id="editDescription"></textarea>
                    </div>

                    <!--Goal Complete Switch-->
                    <h4 class="d-flex justify-content-center">Has this goal been met?</h4>
                    <div class="d-flex justify-content-center mt-3">
                        <div class="form-check form-switch">
                                <input th:filed="*{completed}" th:checked="*{completed}" th:value="*{completed}" class="form-check-input" type="checkbox" role="switch" name="goalCompleted" id="editCompleted">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" id="submitEdit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>


<th:block th:replace="~{fragments/footer.html :: footer}"></th:block>

<script>
    const editBtns = document.getElementsByClassName("editBtn");
    const editTitle = document.getElementById("editTitle");
    const editDesc = document.getElementById("editDescription");
    const editComp = document.getElementById("editCompleted");
    const editId = document.getElementById("editId");
    const modal = new bootstrap.Modal(document.getElementById('editGoalModal'), {})


    Array.from(editBtns).forEach(btn => btn.onclick = e => {
        console.log("test");
        const newTitle = e.target.getAttribute("title");
        const newDesc = e.target.getAttribute("description");
        const newComp = e.target.getAttribute("completed");
        const newId = e.target.getAttribute("id");

        console.log(newTitle);
        console.log(newDesc);
        console.log(newComp);
        console.log(newId);

        console.log(editTitle);
        console.log(editDesc);
        console.log(editComp);
        console.log(editId);

        modal.show();

        editComp.value = newComp;
        editComp.checked = newComp;
        editId.value = newId;

        editTitle.value = newTitle;
        editDesc.value = newDesc;

        editId.value = newId;
        editComp.checked = newComp.toString() === 'true';
        console.log(editComp);
        console.log(newComp);

    })

</script>
</body>
</html>