<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users Panel</title>
  <th:block th:replace="~{/fragments/header.html :: header}"></th:block>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
    <!-- Navbar -->
    <th:block th:replace="~{/fragments/navbar.html :: navbar}"></th:block>
    <button class="btn btn-light" id="add">
        <i class="bi bi-plus-square me-2"></i>Add Goals
    </button>

    <div id="goals">

    </div>

    <th:block th:replace="~{/fragments/footer.html :: footer}"></th:block>

    <script>
        const list = document.getElementById('goals');
        const addBtn = document.getElementById('add');

        let goals = []

        const getGoals = async e => {
            const token = document.getElementsByName("_csrf")[0].getAttribute("content");

            const request = await fetch("/goals/api/v1/getGoals", {
                method: "POST",
                credentials: "include",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRF-TOKEN": token
                },
            })

            const response = await request.json()

            console.log(response)

            return response
        }

        const generateGoalItem = (goal) => {
            //Get the item container
            const item = document.createElement('div')
            item.classList.add('list-group-item', 'goal_item')
            item.style.cursor = 'pointer'

            //And the content
            const content = document.createElement('span')
            content.innerText = goal.description;

            //Append the content to the item
            item.appendChild(content);


            //Return the item
            return item;
        }

        //Render all the goals to the list of goals
        const renderGoals = () => {
            //Clear the list
            list.innerHTML = ""

            //Rerender list items
            goals.forEach(goal=>{
                const item = generateGoalItem(goal)
                list.appendChild(item);
            })
        }

        addBtn.onclick = e => {
            const modal = document.createElement('div')
            modal.classList.add('modal')

            const modalDialog = document.createElement('div')
            modalDialog.classList.add('modal-dialog')

            const modalContent = document.createElement('div')
            modalContent.classList.add('modal-content')

            const modalHeader = document.createElement('div')
            modalHeader.classList.add('modal-header')

            const modalTitle = document.createElement('div')
            modalTitle.classList.add('modal-title')

            // < button
            // type = "button"
            // className = "btn-close"
            // data - bs - dismiss = "modal"
            // aria - label = "Close" > < /button>
            const closeBtn = document.createElement('button')
            closeBtn.classList.add('btn-close')
            closeBtn.setAttribute('data-bs-dismiss','modal')
            closeBtn.setAttribute('aria-label',"Close")

            const modalBody = document.createElement('div')
            modalBody.classList.add('modal-body')

            const modalFooter = document.createElement('div')
            modalFooter.classList.add('modal-footer')

            const cancelButton = document.createElement('button')
            cancelButton.classList.add('btn','btn-secondary')

            const saveButton = document.createElement('button')
            saveButton.classList.add('btn','btn-primary')

            modal.appendChild(modalDialog)

            modalDialog.appendChild(modalContent)

            modalContent.appendChild(modalHeader)

            modalHeader.appendChild(modalTitle)

            modalHeader.appendChild(closeBtn)

            modalContent.appendChild(modalBody)

            modalContent.appendChild(modalFooter)

            modalFooter.appendChild(cancelButton)

            modalFooter.appendChild(saveButton)

            const goalDescription = document.createElement('textarea')
            goalDescription.
        }

        (async ()=>{
            await getGoals()
            renderGoals()
        })()
    </script>
</body>
</html>