<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" xmlns:sec="" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Panel</title>
    <th:block th:replace="~{/fragments/header.html :: header}"></th:block>
</head>
<body>
<th:block th:replace="~{/fragments/navbar.html :: navbar}"></th:block>
<div class="container">
    <div class="navbar bg-body-tertiary d-flex justify-content-end pe-3">
        <span class="h2 me-auto ms-3"><i class="bi bi-person-badge me-3"></i>Profile</span>
        <a href="/profile/settings" class="btn btn-light" style="float: right;">
            <i class="bi bi-gear me-3"></i>Profile Settings
        </a>
    </div>
    <div class="row" style="padding-top: 50px">
        <div class="h6 ps-3">
            <span th:unless="${user.lastName == null or user.firstName == null}" th:text="${user.firstName + ' ' + user.lastName}"/>
            <span th:if="${user.lastName == null or user.firstName == null}">What's your name? <a href="/profile/settings">Set Now</a></span>

            <!--If the user hasn't set their first and last name then display their username-->
            <span th:if="${user.lastName == null or user.firstName == null}" th:text="${user.username}"></span>

            <!-- Points section -->
            <span th:unless="${user.totalPoints == null}" th:text="' | Total Health Points: ' + ${user.totalPoints}" />
        </div>



        <!-- Profile image -->
        <div class="col-12 col-md-3">
            <img id="profile_image" th:src="'data:image/jpeg;base64,' + ${user.profileImageDataUrl}" class="img-thumbnail" alt="Profile Image">
        </div>

        <!-- Bio Section -->
        <div class="col-12 col-md-9 mt-3">
            <!-- Set profile bio section -->
            <div id="profile_description" th:text="${user.bio}"/>

            <!--If their bio is not set yet, -->
            <th:block th:if="${user.bio == null}">
                You can write your bio in the Profile Settings tab.
            </th:block>
        </div>
    </div>

<!--    <div class="container">-->
<!--        <ul class="list-group mt-3" style="clear: both;">-->
<!--            <li class="list-group-item" th:each="item : ${user.followed_paths}">-->
<!--                <img style="border-radius: 50%;" width="40px" height="40px" th:src="'data:image/jpeg;base64,'+${item.imageDataUrl)}"/>-->
<!--                <span class="me-auto"><strong th:text="${item.title}"></strong></span>-->
<!--                <i class="bi bi-trash3-fill deleteBtn btn btn-warning ms-auto"   th:item="${item.getId()}"></i>-->
<!--                <i class="bi bi-pencil-fill editBtn btn btn-light me-2 ms-auto"  th:item="${item.getId()}"></i>-->
<!--            </li>-->
<!--            <li class="list-group-item" th:if="${user.followed_paths == null}"><i class="bi bi-info-square me-3"></i>You can find paths to follow in the "All Paths" tab.</li>-->
<!--        </ul>-->
<!--        <th:block th:if="${user.followed_paths.isEmpty()}">-->
<!--            <i class="bi bi-info-square me-4"></i>You are not following any paths, would you like to <a href="/allPaths">search</a> for one?-->
<!--        </th:block>-->
<!--    </div>-->

    <th:block th:replace="~{/fragments/chat.html :: main_chat}"/>


</div>
<th:block th:replace="~{/fragments/footer.html :: footer}"></th:block>
</body>
</html>