<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Panel</title>
    <th:block th:replace="~{/fragments/header.html :: header}"></th:block>
</head>
<body>
<th:block th:replace="~{/fragments/navbar.html :: navbar}"></th:block>
<div class="container">
    <!--        PROFILE PICTURE     -->
    <div class="row" style="padding-top: 50px">
        <div class="col-4">
            <img id="profile_image" src="/img/top_of_dog_face.jpeg" alt="Profile Image" width="360px" height="360px">
        </div>
        <!--            PROFILE DESCRIPTION     -->
        <div class="col-8">
            <div id="profile_description">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Nisl nunc mi ipsum faucibus. Ac tortor vitae purus faucibus ornare.
                    Adipiscing at in tellus integer feugiat scelerisque varius morbi enim. Nisi vitae suscipit tellus
                    mauris a diam maecenas sed. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Et
                    tortor at risus viverra adipiscing at. Vel facilisis volutpat est velit egestas dui id ornare arcu.
                    Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Pretium nibh ipsum consequat nisl vel
                    pretium lectus. Convallis a cras semper auctor.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Nisl nunc mi ipsum faucibus. Ac tortor vitae purus faucibus ornare.
                    Adipiscing at in tellus integer feugiat scelerisque varius morbi enim. Nisi vitae suscipit tellus
                    mauris a diam maecenas sed. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Et
                    tortor at risus viverra adipiscing at. Vel facilisis volutpat est velit egestas dui id ornare arcu.
                    Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Pretium nibh ipsum consequat nisl vel
                    pretium lectus. Convallis a cras semper auctor.
                </p>
            </div>
        </div>
    </div>

    <span th:text="'Total Points: ' + ${points}" />

    <div id="achv" class="row achv_box">

<!-- TODO: Make the paths medals clickable & Direct to Paths (JJ) -->
        <div th:each="path : ${paths}" id="achv1" class="col-2 achv_badge_holder">
            <div class="achv_badge_3">
                <div class="achv_badge_2">
                    <a th:href="@{/paths/{id} (id=${path.id})}">
                        <img th:src="'data:image/jpeg;base64,'+${path.getImageDataUrl()}" alt="Achievement Badge" width="128px" height="128px" class="achv_badge">
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>
<th:block th:replace="~{/fragments/footer.html :: footer}"></th:block>
</body>
</html>