<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Path</title>
    <th:block th:replace="~{fragments/header.html :: header}"></th:block>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<th:block th:replace="~{fragments/navbar.html :: navbar}"></th:block>
<div class="container bg-light rounded my-5 pt-3">
    <div class="row p-2">
        <a href="/allPaths" class="col-1">
            <button class="btn btn-light">
                <i class="bi bi-arrow-left"></i>
            </button>
        </a>
        <div class="col-8">
            <h1 th:text="${path.title}"></h1>
        </div>
        <div class="col-3 pe-2">
            <form th:action="@{/paths/enroll/{id}(id=${path.id})}" method="post">
                <button type="submit"
                        th:attr="class=${me.followed_paths.contains(path) ? 'btn btn-danger' : 'btn btn-success'}">
                    <i class="bi bi-plus-square me-2" th:if="${!me.followed_paths.contains(path)}"></i>
                    <span th:if="${!me.followed_paths.contains(path)}">Follow Path</span>
                    <i class="bi bi-trash3-fill me-2" th:if="${me.followed_paths.contains(path)}"></i>
                    <span th:if="${me.followed_paths.contains(path)}">Drop Path</span>
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <hr class="thicker_hr"/>
    </div>
    <div class="row p-2">
        <div class="col-12 col-md-3 text-center">
            <h4>Badge</h4>
            <img src="#" th:src="'data:image/jpeg;base64,'+${path.imageDataUrl}" alt="Achievement Badge"
                  class="path_image img img-thumbnail img-fluid m-4">
        </div>
        <div class="col-12 col-md-9 p-3">
            <h4>Path Description</h4>
            <div th:text="${path.description}"/>
        </div>
    </div>
    <div class="row p-2" th:if="${me.followed_paths.contains(path)}">
        <div class="row mb-2">
            <div th:text="'Earn up to ' + ${points} + ' health points by completing this path.'"/>
        </div>
        <div th:each="challenge : ${path.challenges}" class="row mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="challengeTitle m-2" th:text="'Challenge:' + ${challenge.title}"/>
                    <div class="m-2" th:text="'Description' + ${challenge.description}"/>
                    <div class="m-2" th:text="'Points : ' + ${challenge.points}"/>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="item : ${challenge.exercises}">
                            <span th:text="' ' + ${item.name}"></span>
                            <input style="float: right;" type="checkbox" th:checked="${item.completed}" name="exercises[]"
                                   class="exerciseBox" th:exercise="${item.id}" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" th:value="${me.id}" id="myId"/>
<script>
    const myId = document.getElementById("myId").value;
    const exerciseBoxes = document.getElementsByClassName("exerciseBox");
    Array.from(exerciseBoxes).forEach(box => {
        box.onchange = e => {
            const exerciseId = box.getAttribute("exercise");
            const sendRequest = async () => {
                try {
                    const token = document.getElementsByName("_csrf")[0].getAttribute("content");
                    const request = await fetch('/admin/api/v1/completeExercise', {
                        method: "POST",
                        credentials: "include", //Send the SpringSec credentials
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRF-TOKEN": token
                        },
                        body: JSON.stringify({
                            exerciseId: exerciseId,
                            completed: e.target.checked
                        })
                    })
                    const response = await request.json()
                    console.log(response);
                } catch (err) {
                    //Display errors on the console
                    console.error(err)
                }
            }
            sendRequest();
        }
    })
</script>
<th:block th:replace="~{fragments/footer.html :: footer}"></th:block>
</body>
</html>