<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Path</title>
    <th:block th:replace="~{fragments/header.html :: header}"></th:block>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<th:block th:replace="~{fragments/navbar.html :: navbar}"></th:block>
<div class="container bg-light rounded my-5 pt-3">
    <div class="row p-2">
        <div class="col-4">
            <h1 th:text="${path.title}"></h1>
        </div>
        <div class="col-6"></div>
        <div class="col-2">
            <form th:action="@{/paths/enroll/{id}(id=${path.id})}" method="post">
                <button type="submit"
                        th:attr="class=${me.followed_paths.contains(path) ? 'btn btn-danger' : 'btn btn-success'}">
                    <i class="bi bi-plus-square me-2" th:if="${!me.followed_paths.contains(path)}"></i>
                    <span th:if="${!me.followed_paths.contains(path)}">Follow Path</span>
                    <i class="bi bi-trash3-fill me-2" th:if="${me.followed_paths.contains(path)}"></i>
                    <span th:if="${me.followed_paths.contains(path)}">Drop Path</span>
                </button>
            </form>
        </div>
        <hr class="thicker_hr"/>
    </div>
    <div class="row p-2">
        <div class="col-4">
            <img src="#" th:src="'data:image/jpeg;base64,'+${path.imageDataUrl}" alt="Achievement Badge" width="256px" height="256px" class="path_image img img-thumbnail">
        </div>
        <div class="col-8">
            <div th:text="${path.description}"/>
        </div>
    </div>
    <div class="row p-2" th:if="${me.followed_paths.contains(path)}">
        <div class="row mb-2">
            <div th:text="'Earn up to ' + ${points} + ' health points by completing this path.'"/>
        </div>
        <div th:each="challenge : ${path.challenges}" class="row">
            <div class="challengeTitle m-2" th:text="${'Challenge ' + path.challenges.indexOf(challenge) + 1 + ' - '}${challenge.title}"/>
            <div class="m-2" th:text="${challenge.description}"/>
            <!--                <ul th:each="item : ${challenge.exercises}">-->
            <!--                    <li>-->
            <!--                        <input type="checkbox" th:checked="${item.completed}" name="exercises[]" class="exerciseBox" th:text="${item.name}" th:exercise="${item.id}"/>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <ul class="list-group" th:each="item : ${challenge.exercises}">
                <li class="list-group-item">
                    <input type="checkbox" th:checked="${item.completed}" name="exercises[]" class="exerciseBox"
                           th:text="' ' + ${item.name}" th:exercise="${item.id}"/>
                </li>
            </ul>
        </div>
    </div>
</div>
<input type="hidden" th:value="${me.id}" id="myId"/>
<script>
    const myId = document.getElementById("myId").value;
    const exerciseBoxes = document.getElementsByClassName("exerciseBox");
    Array.from(exerciseBoxes).forEach(box => {
        box.onchange = e => {
            const exerciseId = box.getAttribute("exercise");
            const sendRequest = async () => {
                try {
                    const token = document.getElementsByName("_csrf")[0].getAttribute("content");
                    const request = await fetch('/admin/api/v1/completeExercise', {
                        method: "POST",
                        credentials: "include", //Send the SpringSec credentials
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRF-TOKEN": token
                        },
                        body: JSON.stringify({
                            exerciseId: exerciseId,
                            completed: e.target.checked
                        })
                    })
                    const response = await request.json()
                    console.log(response);
                } catch (err) {
                    //Display errors on the console
                    console.error(err)
                }
            }
            sendRequest();
        }
    })
</script>
<th:block th:replace="~{fragments/footer.html :: footer}"></th:block>
</body>
</html>