<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Settings</title>
    <th:block th:replace="~{/fragments/header.html :: header}"/>
</head>
<body>
  <th:block th:replace="~{/fragments/navbar.html :: navbar}"/>
  <div class="container">
      <div class="navbar bg-body-tertiary mb-3">
          <a th:href="'/profile/' + ${me.username}">
              <button class="btn btn-light ms-3">
                  <i class="bi bi-arrow-left-square"></i>
              </button>
          </a>
          <div class="h2 ms-1 me-auto">Edit Profile</div>
      </div>
      <form th:action="@{/profile/settings/update}" th:method="POST" th:object="${me}" enctype="multipart/form-data">
          <img id="profile_image_preview" class="img-thumbnail" name="profileImage" width="200px" th:src="'data:image/jpeg;base64,' + ${profile_image}"/>
          <input type="file" name="newImage" id="newImage" accept=".png,.jpeg,.jpg,.gif"/>
          <div class="input-group mb-3 mt-3">
              <span class="input-group-text" id="firstNameLabel">First Name</span>
              <input type="text" class="form-control" aria-label="First Name" id="firstName"  th:field="*{firstName}" placeholder="First Name" aria-describedby="firstNameLabel">
          </div>
          <div class="input-group mb-3">
              <span class="input-group-text" id="lastNameLabel">Last Name</span>
              <input type="text" class="form-control" aria-label="First Name" id="lastName"  th:field="*{lastName}" placeholder="First Name" aria-describedby="lastNameLabel">
          </div>
          <div class="input-group">
              <span class="input-group-text">Bio</span>
              <textarea class="form-control" aria-label="Bio" placeholder="Tell use a little bit about yourself." id="bio" th:text="*{bio}" th:field="*{bio}"></textarea>
          </div>
          <input type="hidden" th:value="${me.username}" th:field="*{username}"/>
          <input type="hidden" name="profileImageDataUrl" th:value="${profile_image}" th:field="*{profileImageDataUrl}"/>
          <div class="navbar bg-body-tertiary mt-3">
              <!--Add Challenge Button-->
              <button type="submit" id="add_challenge_btn" class="btn btn-primary ms-auto">
                  <i class="bi bi-save"></i>
                  Save Profile
              </button>
          </div>
      </form>
  </div>
  <script>
      (()=>{
          const newImage = document.getElementById('newImage')
          const imagePreview = document.getElementById('profile_image_preview')
          newImage.onchange = e => {
              const reader = new FileReader()
              reader.onload = e => {
                  const result = reader.result
                  imagePreview.src = result
                  document.getElementById('profileImageDataUrl').value = result;
              }

              reader.readAsDataURL(e.target.files[0])
          }

          // const profileImageDataUrl = document.getElementById('profileImageDataUrl').value
          // if(profileImageDataUrl) {
          //     imagePreview.src = 'data:image/jpeg;base64,' + profileImageDataUrl
          // }
      })()
  </script>
  <th:block th:replace="~{/fragments/footer.html :: footer}"/>
</body>
</html>