<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Path</title>
    <th:block th:replace="~{/fragments/header.html :: header}"></th:block>
</head>
<body>
<th:block th:replace="~{/fragments/navbar.html :: navbar}"></th:block>
<div class="container">
        <div class="row">
            <div class="col-4">
                <h1 th:text="${path.getTitle()}"></h1>
            </div>
            <div class="col-6"></div>
            <div class="col-2">
                <form action="#" th:action="@{/paths/enroll/} + ${path.getId()}" method="post">
                    <input type="submit" th:attr="class=${enrolled ? 'btn btn-danger' : 'btn btn-success'}">
<!--                    th:attr="value=${enrolled ? 'abandon' : 'enroll'}" -->
                </form>
            </div>
            <hr class="thicker_hr"/>
        </div>
        <div class="row">
            <div class="col-3">
                <img src="#" th:src="'data:image/jpeg;base64,'+${path.getImageDataUrl()}" alt="Achievement Badge" width="256px" height="256px" class="path_image">
<!--                th:attr="class=${enrolled ? 'path_image_green' : 'path_image_red'}" -->
            </div>
            <div class="col-9">
                <div th:text="${path.getDescription()}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div th:text="'Total Points for this path= ' + ${points}"/>
            </div>
<!--            FOR EVERY CHALLENGE IN PATH -->
            <div class="row">
                <div th:each="challenge : ${path.getChallenges()}">
                    <form action="#" th:action="@{/paths/update/} + ${path.getId()}" method="post">
                        <div class="card">
                            <div class="challengeTitle" th:text="${challenge.getTitle()}"/>
                            <!-- FOR EVERY EXERCISE UNDER CHALLENGES -->
                            <div th:text="${challenge.getDescription()}"/>
                            <div th:each="exercise : ${challenge.getExercises()}">
                                <input type="checkbox" th:name="${exercise}" th:text="${exercise.getName()}">
                            </div>
                        </div>
                </div>
                <input type="submit">
                </form>
            </div>
        </div>
</div>

<th:block th:replace="~{/fragments/footer.html :: footer}"></th:block>
</body>
</html>