<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Your Password</title>
    <th:block th:replace="~{fragments/header.html :: header}"/>
</head>
<body>
  <th:block th:replace="~{fragments/navbar.html :: navbar}"/>
  <div class="container">
    <form th:action="@{/changePass}" method="POST" id="changePassForm">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Change Your Password</h5>
          <input type="hidden" th:value="${param.code}" name="code">
          <input type="hidden" th:value="${param.email}" name="email">
          <div class="card-text">
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" placeholder="Password" name="password" id="password"/>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password Confirmation</label>
              <input type="password" class="form-control" placeholder="Password Confirmation" name="passwordConf" id="passwordConf"/>
            </div>
            <input type="hidden">
          </div>
          <a href="/login" class="btn btn-secondary">Cancel</a>
          <button type="submit" id="btnSubmit" class="btn btn-primary">Change Password</button>
        </div>
      </div>
    </form>
  </div>
  <script>
    const submit = document.getElementById('btnSubmit')
    const password = document.getElementById('password')
    const f = document.getElementById("changePassForm")
    const checkPasswordEquality = () => document.getElementById('password').value === document.getElementById('passwordConf').value
    const passwordEmpty = () => document.getElementById('password').value.length === 0
    submit.onclick = e => {
      e.preventDefault();
      console.log("Submit clicked")
      console.log(checkPasswordEquality())
      console.log(passwordEmpty())
      try {
        if (!checkPasswordEquality() && !passwordEmpty()) {
          alert("Passwords don't match.")
        }else {
          f.submit()
        }
      }catch(err){
        console.error(err)
      }
    }
  </script>
  <th:block th:replace="~{fragments/footer.html :: footer}"/>
</body>
</html>