<!DOCTYPE html>
<html>
<head>
  <title>WebSocket Chat Application </title>
  <th:block th:replace="~{/fragments/header.html :: header}"/>
  <link rel="stylesheet" href="/css/chat.css">
  <script src="/js/chat.js" defer></script>
</head>
<body>
  <th:block th:replace="~{/fragments/navbar.html :: navbar}"/>
  <div id="main-chat">
    <div id="incoming_messages"></div>
    <textarea id="message" placeholder="Say something cool." required></textarea>
    <input type="hidden" id="userid" th:value="${userid}"/>
    <button id="send" type="submit">Send</button>
  </div>
  <i id="chat_icon" class="bi bi-chat-right-dots"></i>
  <th:block th:replace="~{/fragments/footer.html :: footer}"/>
</body>
</html>
