<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recover Account</title>
    <th:block th:replace="~{fragments/header.html :: header}"/>
    <style>
        /*.logo{*/
        /*    background-size: contain;*/
        /*    width: 100%;*/
        /*    height: 100%;*/
        /*    background: url('/img/logo.svg') no-repeat;*/
        /*}*/
    </style>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
  <th:block th:replace="~{fragments/navbar.html :: navbar}"/>
  <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
      <div class="d-flex justify-content-center flex-column">
          <img src="/img/logo.svg" class="mb-4 img-fluid bg-white rounded-3 p-4"/>
          <div class="logo bg-white card"></div>
          <form th:action="@{/recover}" th:method="POST">
              <div class="row d-flex justify-content-center rounded-4">
                  <div class="col-md-6 mb-4 bg-light p-5">
                      <input type="email" class="form-control w-100" placeholder="Enter your email" name="email"/>
                  </div>
                  <div class="col-12 col-md-6 d-flex flex-row mb-4 justify-content-center bg-light p-5" >
                      <button type="submit" class="btn btn-primary me-2">Send Recovery</button>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#infoModal">
                          <i class="bi bi-patch-question-fill"></i>
                      </button>
                  </div>
              </div>
          </form>
          <!-- Modal -->
          <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">How to Recover</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          Please enter your email, and we'll send you a recovery link in a few minutes. Simply click it and we will redirect you back here where you can update your password.
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <th:block th:replace="~{fragments/footer.html :: footer}"></th:block>
  <script>
      const urlSearchParams = new URLSearchParams(window.location.search);
      const params = Object.fromEntries(urlSearchParams.entries());
      const checkCode = async (enteredCode,email) => {
          const token = document.getElementsByName("_csrf")[0].getAttribute("content")

          const request = await fetch("/user/api/v1/recoveryCodeCheck",{
              method : 'POST',
              headers : {
                  "Content-Type" : "application/json",
                  "X-CSRF-TOKEN" : token
              },
              credentials : "include",
              body : JSON.stringify({
                  code : enteredCode,
                  email : email
              })
          })

          const response = await request.json()

          console.log(response);
          return response
      }

      (async ()=>{
          if('sent' in params){
              const code = prompt("We have sent your a code to your email, please enter it here to continue.")
              const codeCheck = await checkCode(code,params.email)
              console.log(codeCheck)

              if('valid' in codeCheck){
                  if(codeCheck.valid == 'true'){
                    location.href = "/changePassword?code=" + encodeURI(code) + "&email=" + encodeURI(params.email);
                  }
              }
          }
      })()
  </script>
</body>
</html>