<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <th:block th:replace="~{fragments/header.html :: header}"></th:block>
    <style>

    </style>
</head>

<body style="background-color: #3c5aa6">
<!-- Navbar -->
<th:block th:replace="~{fragments/navbar.html :: navbar}"></th:block>
<div class="container mt-5">
    <div class="row bg-light p-5 rounded my-5 d-flex justify-content-center ">
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/register.webp" class="rounded" style="width: 100%">
        </div>
        <div class="col-6">
            <form class="d-flex justify-content-center shadow" th:action="@{/register}" th:method="POST" th:object="${user}">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title mb-0" style="color: #3c5aa6">Register</h5>
                        <hr class="mt-0 p-1" style="color: #3c5aa6">
                        <div class="card-text">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" placeholder="Username" name="username"
                                       id="username" th:field="*{username}"/>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" placeholder="Password" name="password"
                                       id="password" th:field="*{password}"/>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" placeholder="Email" id="email" name="email"
                                       th:field="*{email}"/>
                            </div>
                            <div class="mb-3">
                                <label for="firstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" id="firstName"
                                       name="firstName" th:field="*{firstName}"/>
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" id="lastName"
                                       name="lastName" th:field="*{lastName}"/>
                            </div>
                            <div class="mb-3">
                                <label for="bio" class="form-label">Bio</label>
                                <textarea class="form-control" placeholder="Tell us about you.." id="bio"
                                          name="bio" th:field="*{bio}"></textarea>
                            </div>
                            <input type="hidden" name="roles" id="roles" value="ROLE_USER" th:field="*{roles}"/>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <a href="/login" class="btn btn-secondary">Cancel</a>
                            <button id="registerBtn" type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<th:block th:replace="~{fragments/footer.html :: footer}"/>

<!--Validation Errors Modal-->
<div class="modal" tabindex="-1" id="errorsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Please Try Again</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="errors_body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/vigosvalidator.js"></script>
<script defer>
    //Get the errors modal
    const errorsModal = new bootstrap.Modal('#errorsModal', {})

    //Get the body section of the errors modal
    const errorsBody = document.getElementById('errors_body')

    //Get the username element
    const username = document.getElementById("username")

    //Get the password element
    const password = document.getElementById("password")

    //Get the email element
    const email = document.getElementById('email')

    //Get the first name element
    const firstName = document.getElementById('firstName')

    //Get the last name element
    const lastName = document.getElementById('lastName')

      //Get the submit button
    const submit = document.getElementById("registerBtn")

    //When the submit button is clicked
    submit.onclick = (e)=> {

        console.log("Register clicked");

        //Prevent the form from being submitted
        e.preventDefault()

        //Username is valid
        const usernameValid = checkUsername(username,7,20,errorsBody,errorsModal);
        console.log("Is username valid? : " + usernameValid)

        //Password is valid
        const passwordValid = checkPassword(password,{ //Check the password
            min : 4, //At least 4 characters long
            max : 20, //Max 20 characters long
            hasSpecial : 1, //Has at least 1 special character
            hasNumber : 1 // Has at least 1 number
        },errorsModal,errorsBody)

        console.log("Is password valid? : " + passwordValid)

        //Email is valid
        const emailValid = isEmailValid(email,errorsModal,errorsBody)

        console.log("Is email valid? : " + emailValid )

        //Full name is valid
        const fullNameValid = checkFullName(firstName,lastName,errorsModal,errorsBody)

        console.log("Is full name valid? : " + fullNameValid)

        //Do some validation checks on the username and password
        if (usernameValid
            && passwordValid
            && usernameValid //Check the username
            && emailValid//Check the email
            && fullNameValid) { //Check the full name
            //If all validation checks pass submit the form to the backend.
            document.forms[0].submit()
        }
    }

    (()=>{
        //Grab all url search params
        const urlparams = new URLSearchParams(window.location.search);

        //Grab the parameters from the urlparams
        const params = Object.fromEntries(urlparams.entries());

        if(params.exists){ //If exists is present
            //Clear the error dialog
            errorsBody.innerText = ""

            //Generate an error message
            const msg = document.createElement("span")
            msg.innerText = "There's already a user with that email or username. Please either recover your account using your email or attempt to log back in using your credentials."

            //Append the error message to the dialog
            errorsBody.appendChild(msg)

            //Show the modal
            errorsModal.show();
        }
    })()
</script>
</html>